* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg: white; /* real value is described in globalStyle.ts file */
}

html {
    font-size: 10px;
    background: var(--body-bg);
    scroll-behavior: smooth;
}

.base-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: auto;
}

.base-table td {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}