* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg: white; /* real value is described in globalStyle.ts file */
}

html {
    font-size: 10px;
    background: var(--body-bg);
}